/out/
/build/
/vcpkg/
/.*/
/.*
!/.gitignore
!/.clang-format
/cmake-*
/private/
/ArknightsGameData-master/
/ArknightsGameData/
/CMakeFiles/
/compile_commands.util
/build.ninja
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/BuildingArrangement
/cmakegen.sh
/runtest.sh
/_deps/

/GPATH
/GTAGS
/GRTAGS

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.util

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner

problem.lp
solution_details.txt